.connect-title {
  font-size: 40px;
  color: var(--white);
  font-weight: 500;
}

.connect-line {
  font-size: 14px;
  color: var(--white);
  font-weight: 500;
}

.connect-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  gap: 20px;
}

.connect-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.connect-icon {
  font-size: 20px;
  margin: 20px;
  padding: 10px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-self: center;
  transition: 0.3s ease;
  color: rgb(117, 23, 117);
}

.connect-icon:hover{
    box-shadow: 0px 0px 20px var(--violet);
}