.footer-main {
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  padding: 0 4%;
}

.footer-left {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mid {
    justify-content: center;
  display: flex;
  align-items: center;
  width: 33%;
}

.footer-right {
  width: 33%;
  display: flex;
  align-self: center;
  justify-content: center;
}

.footer-icon{
    margin: 0 20px;
    color: var(--white);
}
