.navbar-container {
  height: 70px;
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.navbar-logo {
  height: 32px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 19px;
  color: var(--white);
}

.list {
    color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}

.list:hover{
  color: var(--violet);
}