@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");


body {
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}


:root{
  --violet : #c770f0;
  --black: #0c0513;
  --white: #ffffff;
}



